
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <style>
            form{
                text-align: center;
                margin-top: 400px;
            }
        </style>
    </head>
    <body>
        <form action="{%url 'authenticate:login'%}" method="POST">
            {% csrf_token %}
            <input placeholder="Username" name="username" type="text"><br>
            <input placeholder="Password" name="password" type="password"><br>
            <input type="submit"><br>
            <a href="{%url 'authenticate:signup'%}">Not a registered user?</a>
        </form>
    </body>
