<!DOCTYPE html>
<html>
    <head>
        <title>Url shortener</title>
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" name="button">Save</button>
        </form>

        <h1>http://127.0.0.1:8000/urlshortner/{{a}}</h1>
        <ul>
            {%for url in urls%}
            <li>{{url}}</li>
            {% empty %}
            <li>Nothing</li>
            {% endfor %}
        </ul>
        <a href="{%url 'authenticate:login'%}">Login</a><br>
        <a href="{%url 'authenticate:signup'%}">Signup</a>
    </body>
</html>